# dependencies
node_modules/
.next/

# environment
.env
.env.local
.env.*.local

# build
out/
dist/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
/nul

# debug
npm-debug.log*
*.log
.next-dev-*.log
.vercel/
